<html ng-app="ibct-web">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript"
	src="../javascript/ui-bootstrap-tpls-2.3.1.min.js"></script>
<script src="../javascript/ibct-angular.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.js">
	</script>

<style>
.tempWidth {
	width: 100%;
}


label {
	font-size: 14px;
}
</style>
</head>

<div class="row row-margin">
	<div class="col-lg-12"></div>

</div>


<div class="row" ng-controller="addController">

	<div class="col-lg-12">
		<h3 style="font-weight: bolder; margin-left: 14px;">Manage
			Bulletins</h3>
		<p style="font-weight: bolder; margin-left: 14px;" ><font color="green" ng-bind="successMsg"><label>{{successMsg}}</label></font></p>
		<p style="font-weight: bolder; margin-left: 14px;"><font color="red" ng-bind="failureMsg">There was an error while adding the new bulletin. Please contact your administrator</font></p>
		<p style="margin-left: 14px; font-size: 14px;">Please select
			Product line and Bulleting Type. Fields marked with asterisk (*) are
			required.</p>
	</div>
	<form name="addBulletin" ng-submit="saveFormControlFields()">
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-heading" style="background-color: #F2EFEB;">
					Add Bulletin</div>
				<div class="panel-body">
					<table>
						<tbody>
							<tr>
								<td style="width: 14%;"><label for="disabledSelect"><font
										color="red">*</font>Product Line:</label></td>
								<td style="width: 28%;"><select id="disabledSelect"
									ng-model="addController.productLines"
									ng-options="pl.productLine for pl in productLines track by pl.productLine"
									ng-change="enableButton()" class="form-control"><option
											value="">select</option>
								</select></td>
								<td></td>

								<td style="width: 19%;"><label for="disabledSelect"><font
										color="red">*</font>Bulletin Type:</label></td>
								<td style="width: 28%;"><select id="disabledSelect"
									ng-model="addController.bulletinTypes"
									ng-options="bl for bl in bulletinTypes track by bl"
									ng-change="enableButton()" class="form-control" style=""><option
											value="">select</option></select></td>
								<td style=""><button type="button" class="btn btn-ge"
										ng-disabled="buttonLink" ng-click="enableForm()">Add
										Bulletin</button></td>
							</tr>
							<tr style="padding: 0px;">
								<td colspan="4"></td>
								<td colspan="4" align="left">
									<p>
										<input type="radio" ng-model="addController.productType"
											value="Engine" ng-click="enableButton()"
											ng-disabled="radioProductLink">&nbsp;&nbsp;Engine
									</p>
									<p>
										<input type="radio" ng-model="addController.productType"
											value="Package" ng-click="enableButton()"
											ng-disabled="radioProductLink">&nbsp;&nbsp;Package
									</p>
								</td>
							</tr>
							<tr style="padding: 0px;">
								<td colspan="4" style="padding: 0px;"><p
										style="margin-top: 31px;">Please fill below details and
										click save. Fields marked with an asterisk(*) are required.</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- /.col-lg-4 -->
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-heading" style="background-color: #F2EFEB;">
					Bulletin Details</div>
				<div class="panel-body">
					<table class="tempWidth">
						<tbody>

							<tr>
								<td style="">
									<table
										style="border: 1px solid rgba(242, 239, 235, 0.98); width: 100%; box-shadow: 2px 2px 2px 2px rgba(152, 135, 146, 0.45);">
										<tbody>
											<tr>
												<td style="width: 15%;"><label><font
														color="red">*</font>Bulletin#:</label></td>
												<td style="width: 25%;"><input type="textbox" style="text-transform: uppercase"
													ng-model="addController.bulletin" ng-disabled="formLink"
													class="form-control" required name="bulletinNum"
													pattern="[A-Za-z0-9]{3,8}-[A-Za-z]{2,8}-[0-9]{1,5}|[A-Za-z]{1,2}-[A-Z0-9a-z]{3,8}-[A-Za-z]{2,8}-[0-9]{1,8}"
													
													title="e.g: LMXXXX-IND-201 or PB-LMXXXX-IND-201"
													maxlength="50">
													<div ng-messages="addBulletin.bulletinNum.$error"></div></td>
												<td style="width: 21%;"><label><font
														color="red">*</font>Revision:</label></td>
												<td style="width: 26%;"><input type="textbox"
													ng-model="addController.revision" pattern="[0-9]{1,20}"
													ng-disabled="formLink" class="form-control" required
													name="revision" maxlength="20" title="Only Digits are Allowed">
													<div ng-messages="addBulletin.revision.$error"></div></td>
											</tr>


											<tr>
												<td><label><font color="red">*</font>Description:</label></td>
												<td><input type="textbox" ng-disabled="formLink"
													ng-model="addController.description" class="form-control"
													required name="description"
													  style="text-transform: uppercase"
													pattern="[A-Za-z0-9 !@#$%^&*()-_=+/ ~`,.]{1,150}"
													title="Special Characters are not Allowed" maxlength="150">
													<div ng-messages="addBulletin.description.$error"></div></td>
												<td><label>Supercedes:</label></td>
												<td><select style="width: 100%;" ng-disabled="formLink"
													ng-model="addController.supercedes"
													ng-options="seed for seed in supercedes track by seed"
													class="form-control"><option value="">select</option></select></td>
											</tr>



											<tr>
												<td><label><font color="red">*</font>Category:</label></td>
												<td><select class="form-control" style="width: 100%;"
													ng-model="addController.category" ng-disabled="formLink"
													ng-options="c.codeID as [c.codeName,c.codeDescription].join(' - ')  for c in bulletinCategory track by c.codeID"
													required name="category"><option value="">select</option></select>
													<div ng-messages="addBulletin.category.$error"></div></td>
												<td><label><font color="red">*</font>Compliance
														Level:</label></td>
												<td><select class="form-control" ng-disabled="formLink"
													style="width: 100%;"
													ng-model="addController.complianceLevel"
													ng-options="cl.codeID as [cl.codeID,cl.compLevel].join(' - ') for cl in complianceLevel track by cl.codeID"
													required name="compLevel"><option value="">select</option></select>
													<div ng-messages="addBulletin.compLevel.$error"></div></td>
											</tr>



										</tbody>
									</table>
									<table
										style="width: 100%; margin-top: 26px; box-shadow: 2px 2px 2px 2px rgba(152, 135, 146, 0.45);">
										<tbody>

											<tr ng-switch on="selectionSwitch">
												<td><label><font color="red">*</font>Timing:</label></td>


												<td colspan="7" ng-switch-when="false"><select
													id="timeID" multiple="multiple" class="form-control"
													size="5" style="width: 100%; text-transform: uppercase;"
													ng-model="addController.timing" ng-multi-select
													ng-change="loadTimingCodeName()"
													ng-options="t.codeName +' - '+ t.codeDescription for t in timing track by t.codeID"
													ng-disabled="formLink" required name="timing">

												</select>
													<div ng-messages="addBulletin.timing.$error"></div></td>


												<td colspan="7" ng-switch-when="true"><select
													id="timeID" class="form-control" size="5"
													style="width: 100%; text-transform: uppercase;"
													ng-model="addController.timing"
													ng-change="loadTimingCodeName()"
													ng-options="t.codeName +' - '+ t.codeDescription for t in timing track by t.codeID"
													required name="timing">

												</select>
													<div ng-messages="addBulletin.timing.$error"></div></td>




											</tr>

											<tr>

												<td><label><font color="red">*</font>Rev Date:</label></td>
												<td colspan="2" style=""><input type="date"
													min="1950-01-01" max="2100-12-31" ng-bind="RevisionDate"
													ng-disabled="formLink" required="required"
													value={{RevisionDate}} class="form-control ng-binding"
													ng-model="addController.revDate" style="width: 100%;"
													ng-change="dateCheck(addController.revDate)"
													autofocus="autofocus"></td>
												<td style=""><label style=""><font color="red">*</font>Issue
														Date:</label></td>
												<td style="" colspan="4"><input type="date"
													id="datepicker" ng-bind="IssueDate" ng-disabled="formLink"
													min="1950-01-01" max="2100-12-31"
													class="form-control ng-binding" value={{IssueDate}}
													ng-model="addController.issueDate"
													ng-change="dateCheck(addController.issueDate)"
													style="float: right; width: 67%;" required="required"></td>
											</tr>





											<tr>
												<td><label>Remarks:</label></td>
												<td colspan="7"><textarea class="form-control"
														style="width: 100%;overflow:auto;resize:none;text-transform: uppercase" ng-disabled="formLink"
														ng-model="addController.remarks"
														pattern="[A-Za-z0-9 !@#$%^&*()-_=+/ ~`,.]{1,150}"
														title="special characters are not allowed" maxlength="250"></textarea></td>

											</tr>
											<tr>
												<td><label>Apply Multiple Timing Codes
														Individually :</label></td>
												<td><input type="checkbox"
													ng-disabled="editableMultipleTiming" ng-true-value="'Y'"
													ng-false-value="'N'" ng-change="switchSelectionType()"
													ng-model="addController.multipleTimingcodes"></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

		<div class="col-lg-12">
			<div class="panel panel-blue">
				<div class="panel-heading">Included Serial Numbers</div>
				<div class="panel-body">
					<div class="col-lg-6">
						<table class="">
							<tbody>
								<tr>
									<td><label><font color="red">*</font>From:</label></td>
									<td></td>
									<td><label>To:</label></td>
								</tr>
								<tr>
									<td style="width: 47%;"><select name="num" multiple
										size="4" style="width: 100%;" ng-model="addController.fromSN"
										ng-options="fsn for fsn in fromSN | orderBy: fsn track by fsn "
										name="fromSerialNumber" ng-disabled="formLink"
										ng-change="disableTo(addController.fromSN)">
											<option>select</option>
											<option>select</option>
											<option>select</option>
											<option>select</option>
									</select>
										<div ng-messages="addBulletin.fromSerialNumber.$error"></div>
									</td>
									<td>
										<table>
											<tbody>
												<tr>
													<td>
														<button type="button" class="btn btn-ge btn-width"
															ng-click="addSN(addController.fromSN,addController.toSN)"
															ng-disabled="serialAddButtonLink">Add</button>
													</td>
												</tr>
												<tr>
													<td>
														<button type="button" class="btn btn-ge btn-width"
															ng-disabled="serialClearButtonLink" ng-click="clearSerialNo()">Clear</button>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
									<td style="width: 47%;"><select name="num" size="4"
										style="width: 100%;" ng-model="addController.toSN"
										ng-options="tsn for tsn in toSN | orderBy: tsn track by tsn"
										ng-disabled="multiFromSerial">
											<option>select</option>
											<option>select</option>
											<option>select</option>
											<option>select</option>
									</select></td>
								</tr>
								<tr>
								</tr>
							</tbody>
						</table>
					</div>


					<div class="col-lg-6">

						<table class="table">
							<tbody>
								<tr>
									<td><label>select</label></td>
									<td><label>Timing code</label></td>
									<td><label>From Serial#:</label></td>
									<td><label>To Serial#:</label></td>


								</tr>
								<tr ng-repeat="item in serialNumber">
									<td><input type="checkbox" ng-model="item.isClicked"
										ng-change="checkedIndex(item)"></td>
									<td>{{item.timing}}</td>
									<td>{{item.fromSNum}}</td>
									<td>{{item.toSNum}}</td>
								</tr>
								<tr>
									<td colspan="3" style="border: none;">
										<button id="delete" class="btn btn-ge btn-width" type="button"
											ng-click="removeItem($index)" ng-disabled="serialDeleteButtonLink">Delete</button>

									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
		<!-- </div> -->
		<div class="col-lg-6 pull-right" style="margin-bottom: 5px;">
			<table style="background-color: #fff; border: none;">
				<tbody>
					<tr>
						<td style="background-color: #fff; border: none;">
							<button id="save" class="btn btn-ge btn-width" type="submit"
								ng-disabled="formLink">Save</button>
							<button id="clear" class="btn btn-ge btn-width"
								ng-click="clearFormControlFields()" ng-disabled="formLink"
								type="button">Clear</button>
							<button id="cancel" class="btn btn-ge btn-width"
								ng-disabled="formLink" type="button">
								<a href="#welcome"> Cancel </a>
							</button>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</form>

	<!-- /.col-lg-4 -->
	<div class="col-lg-12"></div>

</div>

</html>
