
<html ng-app="ibct-web">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script type="text/javascript"
	src="../javascript/ui-bootstrap-tpls-2.3.1.min.js"></script>
<script src="../javascript/ibct-angular.js"></script>


<style>
.panel-body {
	padding: 15px;
}

.table-border>tbody>tr>th {
	padding: 12px;
	border-top: 0px solid #ddd;
	border: 3px solid #f2efeb;
}

.table-border>tbody>tr>td {
	text-align: center;
	border: 3px solid #f2efeb;
}

:disabled {
	background-color: #CCD1D1;
}
</style>
</head>

<div class="row row-margin">
	<div class="col-lg-12">
		<!--  <h1 class="page-header">Dashboard</h1> -->

	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-controller="fleetController">
	<div class="col-lg-12">
		<h3 style="font-weight: bolder; margin-left: 14px;">Manage
			Bulletins</h3>
		<p style="margin-left: 14px; font-size: 14px;">Please select
			Product line and Bulleting Type. Fields marked with asterisk (*) are
			required.</p>
	</div>
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-heading" style="background-color: #F2EFEB;">Fleet
				Summary Bulletin Compliance</div>
			<div class="panel-body">
				<table style="">
					<tbody>



						<tr>
							<td style="width: 20%;"><label for="disabledSelect"><font
									color="red">*</font>Product Line:</label></td>
							<td style="width: 30%;"><select id="disabledSelect"
								style="text-transform: uppercase;"
								ng-model="fleetController.productLines"
								ng-options="pl.productLine for pl in productLines track by pl.productLine"
								ng-change="getFleetReport()" class="form-control"><option
										value="">select</option>
							</select></td>

							<td style="width: 20%;"><label for="disabledSelect"><font
									color="red">*</font>Bulletin Type:</label></td>
							<td style="width: 30%;"><select id="disabledSelect"
								style="text-transform: uppercase;"
								ng-model="fleetController.bulletinTypes"
								ng-options="bl.codeDescription for bl in bulletinTypes track by bl.codeID"
								ng-change="getFleetReport()" class="form-control" style="""><option
										value="">select</option></select></td>
							<td style=""></td>
							
						</tr>



					</tbody>
				</table>


			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-heading" style="background-color: #F2EFEB;">Details</div>
			<div class="panel-body">
				<table class="table">
					<tbody>
						<tr>
							<td><label>Bulletin#</label></td>
							<td><label>Revision</label></td>
							<td style=""><label>Title</label></td>
							<td><label>Issued Date</label></td>
							<td><label>Bulletin Category</label></td>
							<td><label>Compliance Level</label></td>
							<td><label>No. of Affected Products</label></td>
							<td><label>No. of Compliance Reported</label></td>
							<td><label>Percentage Complete (%)</label></td>
						</tr>
						<tr ng-model="EngineReportData"
								dir-paginate="bulletin in fleetReportData| itemsPerPage: pageSize" current-page="currentPage">
							<td>{{bulletin.bulletinNum}}</td>
							<td>{{bulletin.revision}}</td>
							<td>{{bulletin.title}}</td>
							<td>{{bulletin.issueDate}}</td>
							<td ng-if="bulletin.bulletinCategory=='20000019'" >A</td>
							<td ng-if="bulletin.bulletinCategory=='20000020'" >C</td>
							<td ng-if="bulletin.bulletinCategory=='20000022'" >O</td>
							<td ng-if="bulletin.bulletinCategory=='20000021'" >R</td>
							<td ng-if="bulletin.bulletinCategory=='20000028'" >SPS</td>
							<!-- <td>{{bulletin.revisionEntity.complianceLevel}}</td> -->
							<td ng-if="bulletin.complianceLevel=='D'" >DEPOT</td>
							<td ng-if="bulletin.complianceLevel=='F'" >FIELD</td>
							<td ng-if="bulletin.complianceLevel=='F/D'" >FIELD REPORT</td>
							<td ng-if="bulletin.complianceLevel=='SPS'" >SPS CONVERSION</td>
							<td>{{bulletin.numAffectedProducts}}</td>
							<td>{{bulletin.numOfComplianceReported}}</td>
							<td>{{bulletin.percentComplete}}</td>

						</tr>
						<tr>

						</tr>
					</tbody>
				</table>
				<div class="col-lg-6" style="padding-left: 0px;">
					<table style="background-color: #fff; border: none;">
						<tbody>
							<tr>
								<td style="background-color: #fff; border: none;">
									<button id="export" ng-click="export()" ng-disabled="disableExportButton" class="btn btn-ge btn-width">Export</button>

									<button id="cancel" ng-click="closeFleetReport()"class="btn btn-ge btn-width">Close</button>
								</td>
							</tr>

						</tbody>
					</table>
				</div>


			</div>
		</div>
	</div>
	<!-- /.col-lg-4 -->

	<!-- <div class="row"> -->

	<!-- </div> -->

	<!-- /.col-lg-4 -->
	<div class="col-lg-12">
		<!-- <div class="panel panel-success">
                        <div class="panel-heading">
                            Success Panel
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                        </div> -->
		<!--  <div class="panel-footer">
                            Panel Footer
                        </div> -->
		<!-- </div> -->
	</div>
	<!-- /.col-lg-4 -->
</div>
<div ng-controller="OtherController" class="other-controller">
					
					<div class="text-center">
						<dir-pagination-controls boundary-links="true"
							on-page-change="pageChangeHandler(newPageNumber)"
							template-url="../template/dirPagination.tpl.html"></dir-pagination-controls>
					</div>
				</div>
</html>